h1 {
	text-family: serif;
	text-align: center;
}

#LondonBridge {
	height: 650px;
	width: 100%;
	display: cover;
	background: url("https://cdn.pixabay.com/photo/2017/05/18/21/54/tower-bridge-2324875_960_720.jpg") no-repeat bottom center;
	background-size: cover;
	background-attachment: fixed;
}

#Home, #Projects {
	display: inline-block;
	padding: 0 30px;
}

.TopNavigation {
	text-align: center;
}

#name {
	font-size: 80px;
}

#heading2 {
	font-size: 50px;
	text-align: center;
}

#title {
	font-size: 30px;
}

#company {
	display: inline-block;
	padding: 0 0 0 20px;
}

#discription {
	padding: 0 40px;
}

#dates {
	display: inline-block;
	position: absolute;
	right: 0;
	padding: 0 10px 0 0;
}

#version {
	margin-left: 40px;
}
